body{
    padding:0px;
    margin:0px;
}
.main{
    height:100vh;
    width:100%;
    border:2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.main1{
    height:30%;
    width:30%;
    border:2px solid black;
}
.main2{
    height:30%;
    width:30%;
    border:2px solid black;
}
.main3{
    height:30%;
    width:30%;
    border:2px solid black;
}
.main4{
    height:30%;
    width:30%;
    border:2px solid black;
}
.main5{
    height:30%;
    width:30%;
    border:2px solid black;
}
.main6{
    height:30%;
    width:30%;
    border:2px solid black;
}
.main7{
    height:30%;
    width:30%;
    border:2px solid black;
}
.main8{
    height:30%;
    width:30%;
    border:2px solid black;
}
