h1{
    border:2px solid black;
    display:inline;
}
h2{
    border:2px solid black;
    display:inline;
}
/* h3{
    border:2px solid black;
    display:inline;
}
h4{
    border:2px solid black;
    display:inline;
}
h5{
    border:2px solid black;
    display:inline;
} */
span{
    border:2px solid black;
    display:block;
}