body{
    padding:0px;
    margin:0px;
   
}


h1{
    
    font-size: 50px;
    font-weight: 700;  
    display:flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin-top: 0px;
 } 
.container{
    height:200vh;
    width:100%;
    border: 2px solid black;
    background-color:white;
    /* padding:0px;
    margin:0px; */
  
   
}
.container1{
    border: 2px solid black;
    display:flex;
    justify-content: space-evenly; 
    align-items: center; 
    
    height:50px;
    width:100%;
    background-color: brown;
    margin:5px;
}
.home:hover{
background-color: blue;
color:white;
}
    
   
 .home{
    height:35px;
    width:80px;
    border:2px solid white;
    background-color: white;
    color:brown;
    font-size: 20px; 
    font-weight: 800;
    border-radius: 7px; 
    display:flex;
   justify-content: center;
   align-items: center;

}
.container2{
    height: 520px;
    width:100%;
    display: flex;
    flex-direction: row;
}
 .Aside{
    height:500px;
    width:400px;
    /* border:2px solid black;
    color:white;
    background-color: darkgoldenrod; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    padding-left:5px;
 
    flex-direction: column;
}
.Aside select{
    color:brown;
    background-color: white;
    height:50px;
    width:350px;  
    font-size: 15px;
    font-weight: 600;
     display: flex;
}
select:hover{
    height:60px;
    color:black;
    font-size: 20px;
    font-weight: 700;

 
}
.content{
    height:240px;
    width:100%;
    /* border:2px solid black; */
    color:black;
    /* background-color: darkgoldenrod; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    padding-right: 10px;
    
}
.content img{
    height:240px;
    width:100%;
    border-radius:20px;
 

}
.footer{
    height:120px;
    width:100%;
    /* border:2px solid black;
    background-color: darkgoldenrod; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 700;
    margin-top:0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  
}
   
.footer1{
    height:35px;
    width:200px;
    border:2px solid white;
    background-color: white;
    color:brown;
    font-size: 20px; 
    font-weight: 800;
    border-radius: 7px; 
    display:flex;
   justify-content: center;
   align-items: center;
  
}
.footer2{
    height:35px;
    width:100%;
    border:2px solid white;
    background-color: white; 
    display:flex;
    justify-content: end;
  
}
.icon{
    height:35px;
    width:100px;
    display:flex;
    justify-content: center; 
    padding-right: 60px;

}


