body{
    margin:0px;
    padding:0px;
}

.main{
    height:200vh;
    width:100%;
    /* border: 2px solid black;
    background-color: aqua; */
}
.parent1{
    height:100vh;
    width:100%;
    /* border:2px solid red;
    background-color: red; */
    display:flex;
}
.child1{
    height:100%;
    width:50%;
    /* border: 2px solid black;
    background-color: aqua; */
}
.child11{
    height:25%;
    width:100%;
    /* border: 2px solid yellow;
    background-color: yellow; */
    display:flex;
}
.child111{
    height:100%;
    width:50%;
    border: 2px solid gray;
    background-color: gray;
}
.child112{
    height:100%;
    width:50%;
    border: 2px solid #f1ca1f;
    background-color: #f1ca1f;
}
.child12{
    height:25%;
    width:100%;
    border: 2px solid #f656c6;
    background-color:#f656c6 ;
}
.child13{
    height:25%;
    width:100%;
    border: 2px solid #30a756;
    background-color: #30a756;
}
.child14{
    height:25%;
    width:100%;
    border: 2px solid burlywood;
    background-color: burlywood;
}
.child2{
    height:100%;
    width:50%;
    /* border: 2px solid black;
    background-color:blueviolet; */
}
.child21{
    height:50%;
    width:100%;
    /* border: 2px solid black;
    background-color:blueviolet; */
}
.child211{
    height:50%;
    width:100%;
    background-color: chartreuse;
    border:2px solid chartreuse;
}
.child212{
    height:50%;
    width:100%;
    background-color: green;
    border:2px solid green;
}
.child22{
    height:50%;
    width:100%;
    /* border: 2px solid black; */
    background-color:black;
    display:flex;
}
.child221{
    height:100%;
    width:50%;
    background-color: aqua;
    border:2px solid aqua;
}
.child222{
    height:100%;
    width:50%;
    background-color: red;
    border:2px solid red;
}
.parent2{
    height:100vh;
    width:100%;
    border:2px solid blue;
    background-color: blue;
    display:flex;
}
.child3{
    height:100%;
    width:50%;
    /* background-color: #f1ca1f; */
}
.child31{
    height:50%;
    width:100%;
    /* background-color: black; */
    display: flex;
}
.child311{
    height:100%;
    width:50%;
    background-color: #f1ca1f;
}
.child312{
    height:100%;
    width:50%;
    background-color: red;
}
.child32{
    height:50%;
    width:100%;
    background-color: white;
    display:flex;
}
.child321{
    height:100%;
    width:25%;
    background-color: gray;
}
.child322{
    height:100%;
    width:25%;
    background-color: black;
}
.child323{
    height:100%;
    width:25%;
    background-color: gray;
}
.child324{
    height:100%;
    width:25%;
    background-color: black;
}
.child4{
    height:100%;
    width:50%;
    background-color:#f656c6;
}
.child41{
    display: flex;
    height:50%;
    width:100%;
    background-color: crimson;
}
.child411{
height:100%;
width: 25%;
background-color: #f1ca1f;
}
.child412{
    height:100%;
    width: 25%;
    background-color: black;
    }
.child413{
        height:100%;
        width: 25%;
        background-color: chartreuse;
        }
.child414{
            height:100%;
            width: 25%;
            background-color: brown;
            }
.child42{
   
    height:50%;
    width:100%; 
    background-color: blue;
    display: flex;
}
.child421{
  height:100%;
  width:50%;
  background-color: aqua;
}
.child422{
    height:100%;
    width:50%;
    background-color: red;
  }
.child4221{
    height:50%;
    width:100%;
    background-color: black;
}
.child4222{
    height:50%;
    width:100%;
    background-color:rgb(76, 76, 185);
}